<% provide(:title, 'About') %>
<h1>About</h1>
<p>This is an experimental project on Ruby on Rails that allows user registration, posting of small messages and uploading of images like twitter. It follows the book <em><a href="https://www.railstutorial.org/">RUBY ON RAILS TUTORIAL (RAILS 5)</a></em> by Michael Hartl which is an absolute delight to read and follow.</p>

<p>It sure made my first steps on ROR challenging and exciting. I look forward to create more projects like this one to enhance my web development skills.</p>

<p class="lead">Register and give a shout out if you may. :) Thanks!</p>