<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<address>
  Name: Matthew Callao <br \>
  email: signorevolpone@gmail.com <br \>
  skype: signorevolpone <br \>
  Location: Cebu, Philippines
</address>
