<footer class="footer">
  <small>
   &copy; TiwTiw | All rights reserved.
  </small>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%== link_to "Home", root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>